/*//// SCROLL DOWN BUTTON ///
*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
/*section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}*/
#section04 a {
  padding-top: 60px;
}
#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
/*/// EVERYRTHING ABOVE FOR SCROLL DOWN BUTTON ////
*/


/*   /// EVERYTHING BELOW FOR HOMEPAGE HEADLINE ///
*/
body {
  background: #fff;
  text-align: center;
}
.particle-link {
  margin: 10%;
  font-family: 'Quicksand';
  font-weight: 300;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 6em;
  color: #0f0f0f;
  line-height: 1;
  letter-spacing: -.1em;
  transition: color 0.3s ease-out;
}
.particle-link:hover,
.particle-link:focus {
  color: orange;
}
.particle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  border: 1px solid rgba(0,0,0,0.5);
}
.original .particle-1 {
  animation: particle-a 1.4s infinite linear;
}
.original .particle-2 {
  animation: particle-b 1.3s infinite linear;
}
.original .particle-3 {
  animation: particle-c 1.5s infinite linear;
}

.new .particle {
  opacity: 0;
}
.new .particle-1 {
  animation: cycle 1.3s infinite linear,
    shimmy 10s infinite linear;
}
.new .particle-2 {
  animation: cycle 1.3s infinite linear 0.1s,
    shimmy 10s infinite linear 0.1s;
}
.new .particle-3 {
  animation: cycle 1.3s infinite linear 0.2s,
    shimmy 10s infinite linear 0.2s;
}
.new .particle-4 {
  animation: cycle 1.3s infinite linear 0.3s,
    shimmy 10s infinite linear 0.3s;
}
.new .particle-5 {
  animation: cycle 1.3s infinite linear 0.4s,
    shimmy 10s infinite linear 0.4s;
}
.new .particle-6 {
  animation: cycle 1.3s infinite linear 0.5s,
    shimmy 10s infinite linear 0.5s;
}
@keyframes cycle {
  0% {
    transform: translate3D(0,-3rem,0);
    z-index: 1;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  25% {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
  }

  50% {
    transform: translate3D(0, 3rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  55% {
    z-index: -1;
    opacity: 1;
  }

  75% {
    width: .75rem;
    height: .75rem;
    opacity: .5;
  }

  100% {
   transform: translate3D(0,-3rem,0);
    z-index: -1;
    opacity: 1;
  }
}
@keyframes shimmy {
  0% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  100% {
   left: 0%;
  }
}

@keyframes particle-a {
  0% {
   transform: translate3D(-3rem,-3rem,0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }

  25% {
    width: 1.5rem;
    height: 1.5rem;
  }

  50% {
    transform: translate3D(4rem, 3rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }

  55% {
    z-index: -1;
  }

  75% {
    width: .75rem;
    height: .75rem;
    opacity: .5;
  }

  100% {
   transform: translate3D(-3rem,-3rem,0);
    z-index: -1;
  }
}

@keyframes particle-b {
  0% {
   transform: translate3D(3rem,-3rem,0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }

  25% {
    width: 1.5rem;
    height: 1.5rem;
  }

  50% {
    transform: translate3D(-3rem, 3.5rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }

  55% {
    z-index: -1;
  }

  75% {
    width: .5rem;
    height: .5rem;
    opacity: .5;
  }

  100% {
   transform: translate3D(3rem,-3rem,0);
    z-index: -1;
  }
}

@keyframes particle-c {
  0% {
   transform: translate3D(-1rem,-3rem,0);
    z-index: 1;
    animation-timing-function: ease-in-out;
  }

  25% {
    width: 1.3rem;
    height: 1.3rem;
  }

  50% {
    transform: translate3D(2rem, 2.5rem, 0);
    opacity: 1;
    z-index: 1;
    animation-timing-function: ease-in-out;
  }

  55% {
    z-index: -1;
  }

  75% {
    width: .5rem;
    height: .5rem;
    opacity: .5;
  }

  100% {
   transform: translate3D(-1rem,-3rem,0);
    z-index: -1;
  }
}


/*//// EVERYTHING BELOW FOR SECOND PAGE HEADLINE ////
*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

/* .type-pause-button {
  position: absolute;
  top: 150px;
}
.icon-pause-circle-fill:before {
    content: "\e600";
  font-size: 4em;
  color: #666;
}
.icon-play-circle-fill:before {
    content: "\e601";
   font-size: 4em;
  color: #666;
} */
a {
  text-decoration: none;
}

.title {
  text-align: center;
    padding: 30px 0px 40px;
}
.title h5 {
  color: #999
}
.white .title h5 {
  color: #fff
}
.dynamic-title {
  float: none;
  margin: 0 auto;
  display: table;
  width: auto;
  font-family: 'Roboto Slab', serif;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* div#text-btn button {
  position: absolute;
  display: inline-block;
  top: 200px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  transition-delay: 0.2s;
  transition: .3s background;
  outline: none;
  font-size: 15px;
  font-family: 'Roboto Black','Helvetica',sans-serif;
  font-weight: 300;
}
div#text-btn button:hover {
  background: rgba(0,0,0,0.5);
}
.pause-btn.transparent {
    background: transparent;
} */
span.gold-title {
    font-size: 38px !important;
    margin: -10px 0;
    color: #FFC11F;
}





/* --------------------------------

Primary style

-------------------------------- */
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  font-style: normal;
}
.cd-words-wrapper i {
  font-style: normal;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}